[tool.poetry]
name = "network_as_code"
version = "0.8.0-pre"
description = ""
authors = ["Pavel Garmuyev <pavel.garmuyev@nokia.com>", "Sami Lahtinen <sami.lahtinen@nokia.com>"]
packages = [
    { include = "network_as_code" },
    { include = "qos_client", from = "binding_generation"},
    { include = "location_client", from = "binding_generation"}
]

[tool.pyright]
include = ["network_as_code"]
exclude = ["**/__pycache__", "**/.pytest_cache", "**/.*"]
pythonVersion = "^3.7"
pythonPlatform = "Linux"

[tool.poetry.dependencies]
python = "^3.7"
python-dotenv = "^0.19.2"
httpx = "^0.23.0"
websockets = "^10.3"
pydantic = {extras = ["email"], version = "^1.10.2"}
qos_client = {path = "./binding_generation/qos_client"}
location_client = {path = "./binding_generation/location_client"}

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.271"
pytest-asyncio = "^0.19.0"
pytest-xdist = "^2.5.0"
pytest-httpx = "^0.21.3"
pdoc = "^13.0.0"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
black = "^23.1.0"
hypothesis = "^6.68.2"
pyyaml = "^6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
# addopts = "--ignore=tests/test_qos.py"
# asyncio_mode = "auto"
norecursedirs = "binding_generation"
