{
  "openapi": "3.0.0",
  "x-rapidapi-info": {
    "apiVersionId": "apiversion_969ae0b0-88c0-4670-9353-9c09d02c076f",
    "apiId": "api_47e41e89-ab4a-40fa-87de-c528077c9945"
  },
  "x-documentation": {
    "tutorials": [],
    "spotlights": []
  },
  "x-gateways": [],
  "info": {
    "title": "Network as Code ",
    "version": "1.0.0",
    "description": "Nokia's Network as Code API for programmable networks.",
    "x-category": "Other",
    "x-long-description": "Nokia's Network as Code API for programmable networks",
    "x-website": "",
    "x-public": true,
    "x-thumbnail": "https://rapidapi-prod-prodeu-apis.s3.eu-central-1.amazonaws.com/87fa562b-c40b-4a8f-9847-108b8973ce6f.png",
    "x-version-lifecycle": "active",
    "x-badges": [],
    "termsOfService": "https://developer.networkascode.nokia.io/legal/terms-of-service",
    "x-collections": []
  },
  "servers": [
    {
      "url": "https://network-as-code.p-eu.rapidapi.com"
    }
  ],
  "tags": [
    {
      "name": "KYC Tenure v0.1"
    },
    {
      "name": "Device Swap v1.0.0"
    },
    {
      "name": "Phone number verify",
      "description": "API operation to verify a phone number received as input. It can be received either in plain text or hashed format."
    },
    {
      "name": "Device reachability status",
      "description": "Operations to get the current reachability status of a device"
    },
    {
      "name": "Device connectivity status",
      "description": "Operations to get the current connectivity status of a device"
    },
    {
      "name": "Roaming status retrieval",
      "description": "Operation to get device roaming status and country information (if roaming) synchronously"
    },
    {
      "name": "Device roaming status subscription",
      "description": "Operation to manage event subscription on device roaming status event."
    },
    {
      "name": "Check Device Swap",
      "description": "Validate if the SIM of the end-user has been installed in a different device during a past period"
    },
    {
      "name": "Location Verification v0.2.0"
    },
    {
      "name": "Geofencing subscriptions",
      "description": "Operations to manage event subscription on geofencing events for leaving and entering an area"
    },
    {
      "name": "QoS Sessions v0",
      "description": "Manage QoS sessions v0"
    },
    {
      "name": "Device status subscription",
      "description": "Operation to manage event subscription on device status event (roaming, connectivity)"
    },
    {
      "name": "Match",
      "description": "Operations to match a customer identity against the account data bound to their phone number."
    },
    {
      "name": "Retrieve Status",
      "description": "Create a request to retrieve the validity status of the data processing"
    },
    {
      "name": "Phone number share",
      "description": "API operation to return the phone number associated to the access token."
    },
    {
      "name": "Quality-of-Service on Demand v1.0.0"
    },
    {
      "name": "Location retrieval",
      "description": "Retrieve the location of a device"
    },
    {
      "name": "Device reachability status subscription",
      "description": "Operation to manage event subscription on device reachability status event."
    },
    {
      "name": "location-verification"
    },
    {
      "name": "Retrieve Device Swap Date",
      "description": "Receive the last date in which the device of the end-user was swapped"
    },
    {
      "name": "Fill-in",
      "description": "Operations to provide information related to a customer identity stored the account data bound to the customer's phone number."
    },
    {
      "name": "device-attach"
    },
    {
      "name": "Device Reachability Status Retrieve v1.1.0"
    },
    {
      "name": "Location Retrieval v0.2.0"
    },
    {
      "name": "Location Verification v1.0.0"
    },
    {
      "name": "Check Subscriber Tenure",
      "description": "Check details about the length of tenure of the subscriber"
    },
    {
      "name": "Device roaming status",
      "description": "Operation to get device roaming status and country information (if roaming) synchronously"
    },
    {
      "name": "Location verification",
      "description": "Verification of the location of a device"
    },
    {
      "name": "slice"
    },
    {
      "name": "Geofencing v0.3.0"
    },
    {
      "name": "Number Recycling v0.2"
    },
    {
      "name": "Age Verification",
      "description": "Operations to verify the age of a user."
    },
    {
      "name": "KYC Match v0.3"
    },
    {
      "name": "KYC Age Verification v0.1"
    },
    {
      "name": "Device Reachability Status Subscriptions v0.8"
    },
    {
      "name": "Call Forwarding Signal v0.3.0"
    },
    {
      "name": "location-retrieval"
    },
    {
      "name": "Number Verification v2.1"
    },
    {
      "name": "Device Reachability Status Subscriptions v0.7"
    },
    {
      "name": ".well-known"
    },
    {
      "name": "passthrough"
    },
    {
      "name": "device-status"
    },
    {
      "name": "Network Slicing v1.0.0"
    },
    {
      "name": "geofencing-subscriptions"
    },
    {
      "name": "QoS Sessions",
      "description": "Manage QoS sessions"
    },
    {
      "name": "Consent Info v0.1.0"
    },
    {
      "name": "quality-on-demand"
    },
    {
      "name": "Device Status v0.5.1"
    },
    {
      "name": "Device Roaming Status Subscriptions v0.7"
    },
    {
      "name": "congestion-insights"
    },
    {
      "name": "KYC FIll In v0.4"
    },
    {
      "name": "qod"
    },
    {
      "name": "Device Roaming Status Retrieve v1.1.0"
    },
    {
      "name": "Congestion Insights v1.0.0"
    },
    {
      "name": "NaC Authorization Server"
    },
    {
      "name": "Number Verification v1.0.0"
    },
    {
      "name": "Quality-of-Service on Demand v0.10.1"
    },
    {
      "name": "Well Known Metadata"
    },
    {
      "name": "Slice Device Attach v1.0.0"
    },
    {
      "name": "Device Roaming Status Subscriptions v0.8"
    },
    {
      "name": "SIM Swap v1.0.0"
    },
    {
      "name": "oauth2"
    }
  ],
  "paths": {
    "/quality-on-demand/v1/retrieve-sessions": {
      "post": {
        "tags": [
          "Quality-of-Service on Demand v1.0.0"
        ],
        "summary": "Retrieve sessions for a specific device",
        "operationId": "retrieveSessions-QoD-V1",
        "description": "Return all QoD sessions related to the specified device.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": [
                      {
                        "device": {
                          "phoneNumber": "+123456789",
                          "networkAccessIdentifier": "123456789@domain.com",
                          "ipv4Address": {
                            "publicAddress": "84.125.93.10",
                            "privateAddress": "84.125.93.10",
                            "publicPort": 0
                          },
                          "ipv6Address": "2001:db8:85a3:8d3:1319:8a2e:370:7344"
                        },
                        "applicationServer": {
                          "ipv4Address": "192.168.0.1/24",
                          "ipv6Address": "2001:db8:85a3:8d3:1319:8a2e:370:7344"
                        },
                        "devicePorts": {
                          "ranges": [
                            {
                              "from": 0,
                              "to": 0
                            }
                          ],
                          "ports": []
                        },
                        "applicationServerPorts": {
                          "ranges": [
                            {
                              "from": 0,
                              "to": 0
                            }
                          ],
                          "ports": []
                        },
                        "qosProfile": "QCI_1_voice",
                        "sink": "https://endpoint.example.com/sink",
                        "sinkCredential": {
                          "credentialType": "ACCESSTOKEN"
                        },
                        "sessionId": "",
                        "duration": 86400,
                        "startedAt": "2024-06-01T12:00:00Z",
                        "expiresAt": "2024-06-01T13:00:00Z",
                        "qosStatus": "REQUESTED",
                        "statusInfo": "DURATION_EXPIRED",
                        "messages": [
                          {
                            "severity": "INFO",
                            "description": ""
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "description": "Session related information.",
                    "allOf": [
                      {
                        "description": "Common attributes of a QoD session",
                        "type": "object",
                        "properties": {
                          "device": {
                            "description": "End-user equipment able to connect to a network. Examples of devices include smartphones or IoT sensors/actuators.\n\nThe developer can choose to provide the below specified device identifiers:\n\n* `ipv4Address`\n* `ipv6Address`\n* `phoneNumber`\n* `networkAccessIdentifier`\n\nNOTE: the MNO might support only a subset of these options. The API invoker can provide multiple identifiers to be compatible across different MNOs. In this case the identifiers MUST belong to the same device\n",
                            "type": "object",
                            "properties": {
                              "phoneNumber": {
                                "description": "A public identifier addressing a telephone subscription. In mobile networks it corresponds to the MSISDN (Mobile Station International Subscriber Directory Number). In order to be globally unique it has to be formatted in international format, according to E.164 standard, prefixed with '+'.",
                                "type": "string",
                                "pattern": "^\\+?[0-9]{5,15}$"
                              },
                              "networkAccessIdentifier": {
                                "description": "A public identifier addressing a subscription in a mobile network. In 3GPP terminology, it corresponds to the GPSI formatted with the External Identifier ({Local Identifier}@{Domain Identifier}). Unlike the telephone number, the network access identifier is not subjected to portability ruling in force, and is individually managed by each operator.",
                                "type": "string"
                              },
                              "ipv4Address": {
                                "type": "object",
                                "description": "The device should be identified by either the public (observed) IP address and port as seen by the application server, or the private (local) and any public (observed) IP addresses in use by the device (this information can be obtained by various means, for example from some DNS servers).\n\nIf the allocated and observed IP addresses are the same (i.e. NAT is not in use) then  the same address should be specified for both publicAddress and privateAddress.\n\nIf NAT64 is in use, the device should be identified by its publicAddress and publicPort, or separately by its allocated IPv6 address (field ipv6Address of the Device object)\n\nIn all cases, publicAddress must be specified, along with at least one of either privateAddress or publicPort, dependent upon which is known. In general, mobile devices cannot be identified by their public IPv4 address alone.\n",
                                "properties": {
                                  "publicAddress": {
                                    "description": "A single IPv4 address with no subnet mask",
                                    "type": "string",
                                    "format": "ipv4"
                                  },
                                  "privateAddress": {
                                    "description": "A single IPv4 address with no subnet mask",
                                    "type": "string",
                                    "format": "ipv4"
                                  },
                                  "publicPort": {
                                    "description": "TCP or UDP port number",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 65535
                                  }
                                },
                                "anyOf": [
                                  {
                                    "required": [
                                      "publicAddress",
                                      "privateAddress"
                                    ]
                                  },
                                  {
                                    "required": [
                                      "publicAddress",
                                      "publicPort"
                                    ]
                                  }
                                ]
                              },
                              "ipv6Address": {
                                "description": "The device should be identified by the observed IPv6 address, or by any single IPv6 address from within the subnet allocated to the device (e.g. adding ::0 to the /64 prefix).\n\nThe session shall apply to all IP flows between the device subnet and the specified application server, unless further restricted by the optional parameters devicePorts or applicationServerPorts.\n",
                                "type": "string",
                                "format": "ipv6"
                              }
                            },
                            "minProperties": 1
                          },
                          "applicationServer": {
                            "description": "A server hosting backend applications to deliver some business logic to clients.\n\nThe developer can choose to provide the below specified device identifiers:\n\n* `ipv4Address`\n* `ipv6Address`\n",
                            "type": "object",
                            "properties": {
                              "ipv4Address": {
                                "type": "string",
                                "description": "IPv4 address may be specified in form <address/mask> as:\n  - address - an IPv4 number in dotted-quad form 1.2.3.4. Only this exact IP number will match the flow control rule.\n  - address/mask - an IP number as above with a mask width of the form 1.2.3.4/24.\n    In this case, all IP numbers from 1.2.3.0 to 1.2.3.255 will match. The bit width MUST be valid for the IP version.\n"
                              },
                              "ipv6Address": {
                                "type": "string",
                                "description": "IPv6 address may be specified in form <address/mask> as:\n  - address - The /128 subnet is optional for single addresses:\n    - 2001:db8:85a3:8d3:1319:8a2e:370:7344\n    - 2001:db8:85a3:8d3:1319:8a2e:370:7344/128\n  - address/mask - an IP v6 number with a mask:\n    - 2001:db8:85a3:8d3::0/64\n    - 2001:db8:85a3:8d3::/64\n"
                              }
                            },
                            "minProperties": 1
                          },
                          "devicePorts": {
                            "description": "The ports used locally by the device for flows to which the requested QoS profile should apply. If omitted, then the qosProfile will apply to all flows between the device and the specified application server address and ports",
                            "allOf": [
                              {
                                "type": "object",
                                "minProperties": 1,
                                "properties": {
                                  "ranges": {
                                    "type": "array",
                                    "minItems": 1,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "from",
                                        "to"
                                      ],
                                      "properties": {
                                        "from": {
                                          "description": "TCP or UDP port number",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 65535
                                        },
                                        "to": {
                                          "description": "TCP or UDP port number",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 65535
                                        }
                                      }
                                    }
                                  },
                                  "ports": {
                                    "type": "array",
                                    "minItems": 1,
                                    "items": {
                                      "description": "TCP or UDP port number",
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 65535
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "applicationServerPorts": {
                            "description": "A list of single ports or port ranges on the application server",
                            "allOf": [
                              {
                                "type": "object",
                                "minProperties": 1,
                                "properties": {
                                  "ranges": {
                                    "type": "array",
                                    "minItems": 1,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "from",
                                        "to"
                                      ],
                                      "properties": {
                                        "from": {
                                          "description": "TCP or UDP port number",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 65535
                                        },
                                        "to": {
                                          "description": "TCP or UDP port number",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 65535
                                        }
                                      }
                                    }
                                  },
                                  "ports": {
                                    "type": "array",
                                    "minItems": 1,
                                    "items": {
                                      "description": "TCP or UDP port number",
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 65535
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "qosProfile": {
                            "description": "A unique name for identifying a specific QoS profile.\nThis may follow different formats depending on the service providers implementation.\nSome options addresses:\n\n\n\n\n\n  - A UUID style string\n  - Support for predefined profiles QOS_S, QOS_M, QOS_L, and QOS_E\n  - A searchable descriptive name\n",
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 256,
                            "format": "string",
                            "pattern": "^[a-zA-Z0-9_.-]+$"
                          },
                          "sink": {
                            "type": "string",
                            "format": "uri",
                            "description": "The address to which events about all status changes of the session (e.g. session termination) shall be delivered using the selected protocol."
                          },
                          "sinkCredential": {
                            "description": "A sink credential provides authentication or authorization information necessary to enable delivery of events to a target.",
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "credentialType": {
                                    "type": "string",
                                    "enum": [
                                      "ACCESSTOKEN"
                                    ],
                                    "description": "The type of the credential.\nNote: Type of the credential - MUST be set to ACCESSTOKEN for now\n"
                                  }
                                },
                                "required": [
                                  "credentialType"
                                ]
                              }
                            ]
                          }
                        },
                        "required": [
                          "applicationServer",
                          "qosProfile"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "description": "Session ID in UUID format",
                            "type": "string",
                            "format": "uuid"
                          },
                          "duration": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 2147483647
                          },
                          "startedAt": {
                            "description": "Date and time when the QoS status became \"AVAILABLE\". Not to be returned when `qosStatus` is \"REQUESTED\". Format must follow RFC 3339 and must indicate time zone (UTC or local).",
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresAt": {
                            "description": "Date and time of the QoS session expiration. Format must follow RFC 3339 and must indicate time zone (UTC or local).\n- When `qosStatus` is \"AVAILABLE\", it is the limit time when the session is scheduled to finnish, if not terminated by other means.\n- When `qosStatus` is \"UNAVAILABLE\", it is the time when the session was terminated.\n- Not to be returned when `qosStatus` is \"REQUESTED\".\nWhen the session is extended, the value is the new expiration time of the session.\n",
                            "type": "string",
                            "format": "date-time"
                          },
                          "qosStatus": {
                            "description": "The current status of the requested QoS session. The status can be one of the following:\n* `REQUESTED` - QoS has been requested by creating a session\n* `AVAILABLE` - The requested QoS has been provided by the network\n* `UNAVAILABLE` - The requested QoS cannot be provided by the network due to some reason\n",
                            "type": "string",
                            "enum": [
                              "REQUESTED",
                              "AVAILABLE",
                              "UNAVAILABLE"
                            ]
                          },
                          "statusInfo": {
                            "description": "Reason for the new `qosStatus`. Currently `statusInfo` is only applicable when `qosStatus` is 'UNAVAILABLE'.\n* `DURATION_EXPIRED` - Session terminated due to requested duration expired\n* `NETWORK_TERMINATED` - Network terminated the session before the requested duration expired\n* `DELETE_REQUESTED`- User requested the deletion of the session before the requested duration expired\n",
                            "type": "string",
                            "enum": [
                              "DURATION_EXPIRED",
                              "NETWORK_TERMINATED",
                              "DELETE_REQUESTED"
                            ]
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "severity": {
                                  "description": "Message severity",
                                  "type": "string",
                                  "enum": [
                                    "INFO",
                                    "WARNING"
                                  ]
                                },
                                "description": {
                                  "description": "Detailed message text",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "severity",
                                "description"
                              ]
                            }
                          }
                        },
                        "required": [
                          "sessionId",
                          "duration",
                          "qosStatus"
                        ]
                      }
                    ]
                  },
                  "type": "array",
                  "title": "Response Retrievesessions"
                }
              }
            },
            "description": ""
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "detail": [
                        {
                          "loc": [],
                          "msg": "",
                          "type": ""
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            },
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "QOS_RETRIEVE_SESSION_PHONE_NUMBER": {
                  "value": {
                    "device": {
                      "phoneNumber": "+99999991001"
                    }
                  }
                }
              },
              "schema": {
                "properties": {
                  "device": {
                    "description": "End-user equipment able to connect to a network. Examples of devices include smartphones or IoT sensors/actuators.\n\nThe developer can choose to provide the below specified device identifiers:\n\n* `ipv4Address`\n* `ipv6Address`\n* `phoneNumber`\n* `networkAccessIdentifier`\n\nNOTE: the MNO might support only a subset of these options. The API invoker can provide multiple identifiers to be compatible across different MNOs. In this case the identifiers MUST belong to the same device\n",
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "description": "A public identifier addressing a telephone subscription. In mobile networks it corresponds to the MSISDN (Mobile Station International Subscriber Directory Number). In order to be globally unique it has to be formatted in international format, according to E.164 standard, prefixed with '+'.",
                        "type": "string",
                        "pattern": "^\\+?[0-9]{5,15}$"
                      },
                      "networkAccessIdentifier": {
                        "description": "A public identifier addressing a subscription in a mobile network. In 3GPP terminology, it corresponds to the GPSI formatted with the External Identifier ({Local Identifier}@{Domain Identifier}). Unlike the telephone number, the network access identifier is not subjected to portability ruling in force, and is individually managed by each operator.",
                        "type": "string"
                      },
                      "ipv4Address": {
                        "type": "object",
                        "description": "The device should be identified by either the public (observed) IP address and port as seen by the application server, or the private (local) and any public (observed) IP addresses in use by the device (this information can be obtained by various means, for example from some DNS servers).\n\nIf the allocated and observed IP addresses are the same (i.e. NAT is not in use) then  the same address should be specified for both publicAddress and privateAddress.\n\nIf NAT64 is in use, the device should be identified by its publicAddress and publicPort, or separately by its allocated IPv6 address (field ipv6Address of the Device object)\n\nIn all cases, publicAddress must be specified, along with at least one of either privateAddress or publicPort, dependent upon which is known. In general, mobile devices cannot be identified by their public IPv4 address alone.\n",
                        "properties": {
                          "publicAddress": {
                            "description": "A single IPv4 address with no subnet mask",
                            "type": "string",
                            "format": "ipv4"
                          },
                          "privateAddress": {
                            "description": "A single IPv4 address with no subnet mask",
                            "type": "string",
                            "format": "ipv4"
                          },
                          "publicPort": {
                            "description": "TCP or UDP port number",
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 65535
                          }
                        },
                        "anyOf": [
                          {
                            "required": [
                              "publicAddress",
                              "privateAddress"
                            ]
                          },
                          {
                            "required": [
                              "publicAddress",
                              "publicPort"
                            ]
                          }
                        ]
                      },
                      "ipv6Address": {
                        "description": "The device should be identified by the observed IPv6 address, or by any single IPv6 address from within the subnet allocated to the device (e.g. adding ::0 to the /64 prefix).\n\nThe session shall apply to all IP flows between the device subnet and the specified application server, unless further restricted by the optional parameters devicePorts or applicationServerPorts.\n",
                        "type": "string",
                        "format": "ipv6"
                      }
                    },
                    "minProperties": 1
                  }
                },
                "type": "object",
                "required": [
                  "device"
                ],
                "title": "RetrieveSessionInput"
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ]
      }
    },
    "/device-status/device-roaming-status-subscriptions/v0.8/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Device Roaming Status Subscriptions v0.8"
        ],
        "summary": "Retrieve a roaming status event subscription for a device",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Subscription identifier that was obtained from the create event subscription operation",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as subscriptionId as per Commonalities Event Notification Model.",
              "default": "qs15-h556-rt89-1298"
            }
          },
          {
            "name": "x-correlator",
            "in": "header",
            "required": false,
            "description": "Correlation id for the different services",
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ],
        "operationId": "retrieveDeviceRoamingStatusSubscription-DS-ROS-V080",
        "description": "retrieve device roaming status subscription information for a given subscription.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Active Subscription": {
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "sink": "https://endpoint.example.com/sink",
                      "protocol": "HTTP",
                      "types": [
                        "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-on"
                      ],
                      "config": {
                        "subscriptionDetail": {},
                        "subscriptionExpireTime": "2024-07-17T13:18:23.682Z",
                        "subscriptionMaxEvents": 5,
                        "initialEvent": true
                      },
                      "startsAt": "2024-07-03T21:12:02.871Z",
                      "expiresAt": "2024-07-03T21:12:02.871Z",
                      "status": "ACTIVE"
                    }
                  },
                  "Active Subscription With Device Disambiguation": {
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "sink": "https://endpoint.example.com/sink",
                      "protocol": "HTTP",
                      "types": [
                        "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-on"
                      ],
                      "config": {
                        "subscriptionDetail": {
                          "device": {
                            "phoneNumber": "+99999991000"
                          }
                        },
                        "subscriptionExpireTime": "2024-07-17T13:18:23.682Z",
                        "subscriptionMaxEvents": 5,
                        "initialEvent": true
                      },
                      "startsAt": "2024-07-03T21:12:02.871Z",
                      "expiresAt": "2024-07-03T21:12:02.871Z",
                      "status": "ACTIVE"
                    }
                  },
                  "Subscription Activation Requested": {
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "sink": "https://endpoint.example.com/sink",
                      "protocol": "HTTP",
                      "types": [
                        "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-on"
                      ],
                      "config": {
                        "subscriptionDetail": {},
                        "subscriptionExpireTime": "2024-07-17T13:18:23.682Z",
                        "subscriptionMaxEvents": 5,
                        "initialEvent": true
                      },
                      "startsAt": "2024-07-03T21:12:02.871Z",
                      "expiresAt": "2024-07-03T21:12:02.871Z",
                      "status": "ACTIVATION_REQUESTED"
                    }
                  },
                  "Subscription Deleted": {
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "sink": "https://endpoint.example.com/sink",
                      "protocol": "HTTP",
                      "types": [
                        "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-on"
                      ],
                      "config": {
                        "subscriptionDetail": {},
                        "subscriptionExpireTime": "2024-07-17T13:18:23.682Z",
                        "subscriptionMaxEvents": 5,
                        "initialEvent": true
                      },
                      "startsAt": "2024-07-03T21:12:02.871Z",
                      "expiresAt": "2024-07-03T21:12:02.871Z",
                      "status": "DELETED"
                    }
                  }
                },
                "schema": {
                  "description": "Represents a event-type subscription.",
                  "type": "object",
                  "required": [
                    "sink",
                    "protocol",
                    "config",
                    "types",
                    "id"
                  ],
                  "properties": {
                    "protocol": {
                      "type": "string",
                      "enum": [
                        "HTTP",
                        "MQTT3",
                        "MQTT5",
                        "AMQP",
                        "NATS",
                        "KAFKA"
                      ],
                      "description": "Identifier of a delivery protocol. Only HTTP is allowed for now"
                    },
                    "sink": {
                      "type": "string",
                      "format": "uri",
                      "pattern": "^https:\\/\\/.+$",
                      "description": "The address to which events shall be delivered using the selected protocol."
                    },
                    "types": {
                      "description": "Camara Event types eligible to be delivered by this subscription.\nNote: for the Commonalities meta-release v0.4 we enforce to have only event type per subscription then for following meta-release use of array MUST be decided\n\n\n\n\n\n at API project level.\n",
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1,
                      "items": {
                        "type": "string",
                        "description": "roaming-status - Event triggered when the device switch from roaming ON to roaming OFF and conversely\n\nroaming-on - Event triggered when the device switch from roaming OFF to roaming ON\n\nroaming-off - Event triggered when the device switch from roaming ON to roaming OFF\n\nroaming-change-country - Event triggered when the device in roaming change country code\n",
                        "enum": [
                          "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-status",
                          "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-on",
                          "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-off",
                          "org.camaraproject.device-roaming-status-subscriptions.v0.roaming-change-country"
                        ]
                      }
                    },
                    "config": {
                      "description": "Implementation-specific configuration parameters needed by the subscription manager for acquiring events.\nIn CAMARA we have predefined attributes like `subscriptionExpireTime`, `subscriptionMaxEvents`, `initialEvent`\nSpecific event type attributes must be defined in `subscriptionDetail`\nNote: if a request is performed for several event type, all subscribed event will use same `config` parameters.\n",
                      "type": "object",
                      "required": [
                        "subscriptionDetail"
                      ],
                      "properties": {
                        "subscriptionDetail": {
                          "description": "The detail of the requested event subscription.",
                          "type": "object",
                          "properties": {
                            "device": {
                              "description": "End-user equipment able to connect to a mobile network. Examples of devices include smartphones or IoT sensors/actuators.\n\nThe developer can choose to provide the below specified device identifiers:\n\n* `ipv4Address`\n* `ipv6Address`\n* `phoneNumber`\n* `networkAccessIdentifier`\n\nNOTE: the MNO might support only a subset of these options. The API invoker can provide multiple identifiers to be compatible across different MNOs. In this case the identifiers MUST belong to the same device.\n",
                              "type": "object",
                              "properties": {
                                "phoneNumber": {
                                  "description": "A public identifier addressing a telephone subscription. In mobile networks it corresponds to the MSISDN (Mobile Station International Subscriber Directory Number). In order to be globally unique it has to be formatted in international format, according to E.164 standard, prefixed with '+'.",
                                  "type": "string",
                                  "pattern": "^\\+[1-9][0-9]{4,14}$"
                                },
                                "networkAccessIdentifier": {
                                  "description": "A public identifier addressing a subscription in a mobile network. In 3GPP terminology, it corresponds to the GPSI formatted with the External Identifier ({Local Identifier}@{Domain Identifier}). Unlike the telephone number, the network access identifier is not subjected to portability ruling in force, and is individually managed by each operator.",
                                  "type": "string"
                                },
                                "ipv4Address": {
                                  "type": "object",
                                  "description": "The device should be identified by either the public (observed) IP address and port as seen by the application server, or the private (local) and any public (observed) IP addresses in use by the device (this information can be obtained by various means, for example from some DNS servers).\n\nIf the allocated and observed IP addresses are the same (i.e. NAT is not in use) then  the same address should be specified for both publicAddress and privateAddress.\n\nIf NAT64 is in use, the device should be identified by its publicAddress and publicPort, or separately by its allocated IPv6 address (field ipv6Address of the Device object)\n\nIn all cases, publicAddress must be specified, along with at least one of either privateAddress or publicPort, dependent upon which is known. In general, mobile devices cannot be identified by their public IPv4 address alone.\n",
                                  "properties": {
                                    "publicAddress": {
                                      "description": "A single IPv4 address with no subnet mask",
                                      "type": "string",
                                      "format": "ipv4"
                                    },
                                    "privateAddress": {
                                      "description": "A single IPv4 address with no subnet mask",
                                      "type": "string",
                                      "format": "ipv4"
                                    },
                                    "publicPort": {
                                      "description": "TCP or UDP port number",
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 65535
                                    }
                                  },
                                  "anyOf": [
                                    {
                                      "required": [
                                        "publicAddress",
                                        "privateAddress"
                                      ]
                                    },
                                    {
                                      "required": [
                                        "publicAddress",
                                        "publicPort"
                                      ]
                                    }
                                  ]
                                },
                                "ipv6Address": {
                                  "description": "The device should be identified by the observed IPv6 address, or by any single IPv6 address from within the subnet allocated to the device (e.g. adding ::0 to the /64 prefix).\n",
                                  "type": "string",
                                  "format": "ipv6"
                                }
                              },
                              "minProperties": 1
                            }
                          }
                        },
                        "subscriptionExpireTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The subscription expiration time (in date-time format) requested by the API consumer. It must follow [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) and must have time zone."
                        },
                        "subscriptionMaxEvents": {
                          "type": "integer",
                          "description": "Identifies the maximum number of event reports to be generated (>=1) requested by the API consumer - Once this number is reached, the subscription ends.",
                          "minimum": 1
                        },
                        "initialEvent": {
                          "type": "boolean",
                          "description": "Set to `true` by API consumer if consumer wants to get an event as soon as the subscription is created and current situation reflects event request.\nExample: Consumer request Roaming event. If consumer sets initialEvent to true and device is in roaming situation, an event is triggered.\n"
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as subscriptionId as per Commonalities Event Notification Model."
                    },
                    "startsAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date when the event subscription will begin/began\nIt must follow [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) and must have time zone.\n"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date when the event subscription will expire. Only provided when `subscriptionExpireTime` is indicated by API client or Telco Operator has specific policy about that.\nIt must follow [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) and must have time zone.\n"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subscription - Management of Subscription State engine is not mandatory for now. Note not all statuses may be considered to be implemented. Details:\n\n\n\n\n\n  - `ACTIVATION_REQUESTED`: Subscription creation (POST) is triggered but subscription creation process is not finished yet.\n  - `ACTIVE`: Subscription creation process is completed. Subscription is fully operative.\n  - `INACTIVE`: Subscription is temporarily inactive, but its workflow logic is not deleted.\n  - `EXPIRED`: Subscription is ended (no longer active). This status applies when subscription is ended due to `SUBSCRIPTION_EXPIRED` or `ACCESS_TOKEN_EXPIRED` event.\n  - `DELETED`: Subscription is ended as deleted (no longer active). This status applies when subscription information is kept (i.e. subscription workflow is no longer active but its meta-information is kept).",
                      "enum": [
                        "ACTIVATION_REQUESTED",
                        "ACTIVE",
                        "EXPIRED",
                        "INACTIVE",
                        "DELETED"
                      ]
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_400_INVALID_ARGUMENT": {
                    "description": "Invalid Argument. Generic Syntax Exception",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Client specified an invalid argument, request body or query param."
                    }
                  },
                  "GENERIC_400_SUBSCRIPTION_ID_REQUIRED": {
                    "description": "subscription id is required",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Expected property is missing: subscriptionId"
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "enum": [
                            "INVALID_ARGUMENT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_401_UNAUTHENTICATED": {
                    "description": "Request cannot be authenticated and a new authentication is required",
                    "value": {
                      "status": 401,
                      "code": "UNAUTHENTICATED",
                      "message": "Request not authenticated due to missing, invalid, or expired credentials. A new authentication is required."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "enum": [
                            "UNAUTHENTICATED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_403_PERMISSION_DENIED": {
                    "description": "Permission denied. OAuth2 token access does not have the required scope or when the user fails operational security",
                    "value": {
                      "status": 403,
                      "code": "PERMISSION_DENIED",
                      "message": "Client does not have sufficient permissions to perform this action."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "enum": [
                            "PERMISSION_DENIED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_404_NOT_FOUND": {
                    "description": "Resource is not found",
                    "value": {
                      "status": 404,
                      "code": "NOT_FOUND",
                      "message": "The specified resource is not found."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Device Roaming Status Subscriptions v0.8"
        ],
        "summary": "Delete a device-roaming-status event subscription for a device",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Subscription identifier that was obtained from the create event subscription operation",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as subscriptionId as per Commonalities Event Notification Model.",
              "default": "qs15-h556-rt89-1298"
            }
          },
          {
            "name": "x-correlator",
            "in": "header",
            "required": false,
            "description": "Correlation id for the different services",
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ],
        "operationId": "deleteDeviceRoamingStatusSubscription-DS-ROS-V080",
        "description": "Delete a given device-roaming-status subscription by ID",
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "id": "qs15-h556-rt89-1298"
                    }
                  }
                },
                "schema": {
                  "description": "Response for a device reachability status operation managed asynchronously (Creation or Deletion)",
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as subscriptionId as per Commonalities Event Notification Model."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "204": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {}
                  }
                },
                "schema": {}
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_400_INVALID_ARGUMENT": {
                    "description": "Invalid Argument. Generic Syntax Exception",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Client specified an invalid argument, request body or query param."
                    }
                  },
                  "GENERIC_400_SUBSCRIPTION_ID_REQUIRED": {
                    "description": "subscription id is required",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Expected property is missing: subscriptionId"
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "enum": [
                            "INVALID_ARGUMENT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_401_UNAUTHENTICATED": {
                    "description": "Request cannot be authenticated and a new authentication is required",
                    "value": {
                      "status": 401,
                      "code": "UNAUTHENTICATED",
                      "message": "Request not authenticated due to missing, invalid, or expired credentials. A new authentication is required."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "enum": [
                            "UNAUTHENTICATED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_403_PERMISSION_DENIED": {
                    "description": "Permission denied. OAuth2 token access does not have the required scope or when the user fails operational security",
                    "value": {
                      "status": 403,
                      "code": "PERMISSION_DENIED",
                      "message": "Client does not have sufficient permissions to perform this action."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "enum": [
                            "PERMISSION_DENIED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_404_NOT_FOUND": {
                    "description": "Resource is not found",
                    "value": {
                      "status": 404,
                      "code": "NOT_FOUND",
                      "message": "The specified resource is not found."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "A human-readable code to describe the error"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of what the event represents"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/oauth2/v1/apps/{nac_app_ref}/.well-known/jwks.json": {
      "get": {
        "tags": [
          "NaC Authorization Server"
        ],
        "summary": "Get JWKS for an app.",
        "parameters": [
          {
            "name": "nac_app_ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Nac App Ref"
            }
          },
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ],
        "operationId": "get_jwks_apps__nac_app_ref___well_known_jwks_json_get",
        "description": " ",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {}
                  }
                },
                "schema": {}
              }
            },
            "description": ""
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "detail": [
                        {
                          "loc": [],
                          "msg": "",
                          "type": ""
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/device-status/v0/connectivity": {
      "post": {
        "tags": [
          "Device Status v0.5.1"
        ],
        "summary": "Get the current connectivity status information",
        "operationId": "getConnectivityStatus",
        "description": "Get the current connectivity status information",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Connected-With-DATA": {
                    "value": {
                      "connectivityStatus": "CONNECTED_DATA"
                    }
                  },
                  "Connected-With-SMS": {
                    "value": {
                      "connectivityStatus": "CONNECTED_SMS"
                    }
                  },
                  "Not-Connected": {
                    "value": {
                      "connectivityStatus": "NOT_CONNECTED"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "connectivityStatus"
                  ],
                  "properties": {
                    "connectivityStatus": {
                      "description": "CONNECTED_DATA: The device is connected to the network for Data usage\n\nCONNECTED_SMS: The device is connected to the network for SMS usage\n\nNOT_CONNECTED: The device is not connected\n",
                      "type": "string",
                      "enum": [
                        "CONNECTED_DATA",
                        "CONNECTED_SMS",
                        "NOT_CONNECTED"
                      ]
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Client specified an invalid argument, request body or query param"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 401,
                      "code": "UNAUTHENTICATED",
                      "message": "Request not authenticated due to missing, invalid, or expired credentials"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 403,
                      "code": "PERMISSION_DENIED",
                      "message": "Client does not have sufficient permissions to perform this action"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 404,
                      "code": "NOT_FOUND",
                      "message": "The specified resource is not found"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 500,
                      "code": "INTERNAL",
                      "message": "Server error"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "503": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "status": 503,
                      "code": "UNAVAILABLE",
                      "message": "Service unavailable"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP response status code"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code given to this error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error description"
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "CONNECTED_SMS_PHONE_NUMBER": {
                  "value": {
                    "device": {
                      "phoneNumber": "+99999991000"
                    }
                  }
                },
                "CONNECTED_DATA_PHONE_NUMBER": {
                  "value": {
                    "device": {
                      "phoneNumber": "+99999991001"
                    }
                  }
                },
                "NOT_CONNECTED_PHONE_NUMBER": {
                  "value": {
                    "device": {
                      "phoneNumber": "+99999991002"
                    }
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "device": {
                    "description": "End-user equipment able to connect to a mobile network. Examples of devices include smartphones or IoT sensors/actuators.\n\nThe developer can choose to provide the below specified device identifiers:\n\n* `ipv4Address`\n* `ipv6Address`\n* `phoneNumber`\n* `networkAccessIdentifier`\n\nNOTE: the MNO might support only a subset of these options. The API invoker can provide multiple identifiers to be compatible across different MNOs. In this case the identifiers MUST belong to the same device.\n",
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "description": "A public identifier addressing a telephone subscription. In mobile networks it corresponds to the MSISDN (Mobile Station International Subscriber Directory Number). In order to be globally unique it has to be formatted in international format, according to E.164 standard, optionally prefixed with '+'.",
                        "type": "string",
                        "pattern": "^\\+?[0-9]{5,15}$"
                      },
                      "networkAccessIdentifier": {
                        "description": "A public identifier addressing a subscription in a mobile network. In 3GPP terminology, it corresponds to the GPSI formatted with the External Identifier ({Local Identifier}@{Domain Identifier}). Unlike the telephone number, the network access identifier is not subjected to portability ruling in force, and is individually managed by each operator.",
                        "type": "string"
                      },
                      "ipv4Address": {
                        "type": "object",
                        "description": "The device should be identified by either the public (observed) IP address and port as seen by the application server, or the private (local) and any public (observed) IP addresses in use by the device (this information can be obtained by various means, for example from some DNS servers).\n\nIf the allocated and observed IP addresses are the same (i.e. NAT is not in use) then  the same address should be specified for both publicAddress and privateAddress.\n\nIf NAT64 is in use, the device should be identified by its publicAddress and publicPort, or separately by its allocated IPv6 address (field ipv6Address of the Device object)\n\nIn all cases, publicAddress must be specified, along with at least one of either privateAddress or publicPort, dependent upon which is known. In general, mobile devices cannot be identified by their public IPv4 address alone.\n",
                        "properties": {
                          "publicAddress": {
                            "description": "A single IPv4 address with no subnet mask",
                            "type": "string",
                            "format": "ipv4"
                          },
                          "privateAddress": {
                            "description": "A single IPv4 address with no subnet mask",
                            "type": "string",
                            "format": "ipv4"
                          },
                          "publicPort": {
                            "description": "TCP or UDP port number",
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 65535
                          }
                        },
                        "anyOf": [
                          {
                            "required": [
                              "publicAddress",
                              "privateAddress"
                            ]
                          },
                          {
                            "required": [
                              "publicAddress",
                              "publicPort"
                            ]
                          }
                        ]
                      },
                      "ipv6Address": {
                        "description": "The device should be identified by the observed IPv6 address, or by any single IPv6 address from within the subnet allocated to the device (e.g. adding ::0 to the /64 prefix).\n",
                        "type": "string",
                        "format": "ipv6"
                      }
                    },
                    "minProperties": 1
                  }
                },
                "required": [
                  "device"
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ]
      }
    },
    "/device-status/device-reachability-status-subscriptions/v0.7/subscriptions/{subscriptionId}": {
      "delete": {
        "tags": [
          "Device Reachability Status Subscriptions v0.7"
        ],
        "summary": "Delete a device reachability status event subscription for a device",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Subscription identifier that was obtained from the create event subscription operation",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as `subscriptionId` as per [Commonalities Event Notification Model](https://github.com/camaraproject/Commonalities/blob/r2.3/documentation/API-design-guidelines.md#122-event-notification).",
              "default": "qs15-h556-rt89-1298"
            }
          },
          {
            "name": "x-correlator",
            "in": "header",
            "required": false,
            "description": "Correlation id for the different services",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]{0,55}$",
              "default": "b4333c46-49c0-4f62-80d7-f0ef930f1c46"
            }
          },
          {
            "$ref": "#/components/parameters/x-rapidapi-host"
          }
        ],
        "operationId": "deleteDeviceReachabilityStatusSubscription",
        "description": "Delete a given subscription by ID",
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {
                      "id": "qs15-h556-rt89-1298"
                    }
                  }
                },
                "schema": {
                  "description": "Response for a device reachability status operation managed asynchronously (Creation or Deletion)",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the subscription in the scope of the subscription manager. When this information is contained within an event notification, this concept SHALL be referred as `subscriptionId` as per [Commonalities Event Notification Model](https://github.com/camaraproject/Commonalities/blob/r2.3/documentation/API-design-guidelines.md#122-event-notification)."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "204": {
            "content": {
              "application/json": {
                "examples": {
                  "Example_1": {
                    "value": {}
                  }
                },
                "schema": {}
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_400_INVALID_ARGUMENT": {
                    "description": "Invalid Argument. Generic Syntax Exception",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Client specified an invalid argument, request body or query param."
                    }
                  },
                  "GENERIC_400_SUBSCRIPTION_ID_REQUIRED": {
                    "description": "subscription id is required",
                    "value": {
                      "status": 400,
                      "code": "INVALID_ARGUMENT",
                      "message": "Expected property is missing: subscriptionId"
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "Code given to this error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed error description"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "enum": [
                            "INVALID_ARGUMENT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_401_UNAUTHENTICATED": {
                    "description": "Request cannot be authenticated",
                    "value": {
                      "status": 401,
                      "code": "UNAUTHENTICATED",
                      "message": "Request not authenticated due to missing, invalid, or expired credentials."
                    }
                  },
                  "GENERIC_401_AUTHENTICATION_REQUIRED": {
                    "description": "New authentication is needed, authentication is no longer valid",
                    "value": {
                      "status": 401,
                      "code": "AUTHENTICATION_REQUIRED",
                      "message": "New authentication is required."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "Code given to this error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed error description"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "enum": [
                            "UNAUTHENTICATED",
                            "AUTHENTICATION_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "GENERIC_403_PERMISSION_DENIED": {
                    "description": "Permission denied. OAuth2 token access does not have the required scope or when the user fails operational security",
                    "value": {
                      "status": 403,
                      "code": "PERMISSION_DENIED",
                      "message": "Client does not have sufficient permissions to perform this action."
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "code",
                        "message"
                      ],
                      "properties": {
                        "status": {
                          "type": "integer",
                          "description": "HTTP response status code"
                        },
                        "code": {
                          "type": "string",
                          "description": "Code given to this error"
                        },
[...]
